.menu {
  padding: 0 20px;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.menu__item {
  grid-column: 1 span;
  background-color: black;
  border-top: 1px solid white;
}

.menu__icon {
  margin-bottom: 5px;
  fill: white;
  transition: 0.3 all;

  @media (min-width: $tablet-width) {
    width: 45px;
    height: 45px;
  }
}

.menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
  font-family: $main-font;
  font-size: 18px;
  font-weight: $normal;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  transition: 0.3s all;

  &:hover,
  &:focus {
    color: $orange;
    transition: 0.3 all;
  }

  &:hover .menu__icon,
  &:focus .menu__icon {
    fill: $orange;
    transition: 0.3 all;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }
}
