.slider {
  position: relative;
  max-height: 540px;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    grid-column: 4 span;
  }
}

.slider__list {
  display: flex;
  width: max-content;
  margin: 0;
  transition: 0.5s all;
}

.slider__pic {
  display: block;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    height: fit-content;
    object-fit: cover;
  }
}

.slider__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.slider__controls {
  position: absolute;
  top: 40%;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    top: 50%;
  }
}

.slider__prev,
.slider__next {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: $light-grey;
  border: 2px solid $grey;
  border-radius: 50%;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.9);
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;

    svg {
      width: 40px;
    }
  }
}

.slider__inner {
  position: absolute;
  bottom: 15%;
  left: 20%;
  width: 60%;
  max-width: 260px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;

  @media (min-width: $tablet-width) {
    max-width: 480px;
    font-size: 42px;
  }

  @media (min-width: $desktop-width) {
    left: 18%;
    max-width: 540px;
    font-size: 48px;
    line-height: 58px;
  }
}

.slider__slogan {
  margin: 10px 0;
}

.slider__btn {
  padding: 7px 20px 5px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: white;
  text-transform: uppercase;
  background-color: $orange;
  border: 2px solid white;
  transition: 0.3s all;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.9);
  }

  @media (min-width: $tablet-width) {
    padding: 9px 35px 7px;
    border: 3px solid white;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 55px;
    margin-top: 21px;
    font-size: 18px;
    line-height: 18px;
    border: 4px solid white;
  }
}
