$main-font: 'Yanone Kaffeesatz', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$bold: 700;
$normal: 400;
$light: 300;

$tablet-width: 768px;
$desktop-width: 1200px;

$grey: #434242;
$light-grey: #bababa;
$orange: #ef7f1a;
